@import "../styles/global.scss";

nav {
  height: 100vh;
  width: 170px;
  background-color: $sidebar-background;
  border-radius: 0 40px 40px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  h1 {
    color: #3dd2cc;
    margin: 20px 80px;
    margin: 30px auto;
  }
}

.nav--items {
  width: 100%;
  text-align: start;
  ul{
    list-style: none;
    width: 100%;
  }
}

.link {
  display: flex;
  text-decoration: none;
  color: $clickable-paragraphs;
  font-size: 16px;
  height: 80px;
  padding-top: 27px;
  font-family: "Roboto", sans-serif;
  color: $clickable-paragraphs;
  &:hover {
    color: white;
    background-color: rgb(61, 210, 204, 0.4);
    border-radius: 5px;
  }
  &:focus {
    color: white;
    background-color: rgb(61, 210, 204, 0.4);
    border-right: 5px solid rgb(61, 210, 204);
    border-radius: 5px;
  }
}

.nav--category{
  display: flex;
  margin-left: 40px;
}
.icon {
  margin-right: 5px;
}
